/* css selector rule */
/* name selector */
/* id selector */
/* class selector */
/* universal selector */

/* name selector */
p{
    font-weight: bold;
}
li{
    text-decoration: underline;
}

/* id selector */
/*
#login{
    background-color: blue;
}
*/

/* class selector */

.auth-box{
    height: 400px;
    width: 400px;
    border: 4px solid green;
}
.test {
    color: rgb(224, 90, 12);
}

/* universal selector */
 /*  
 *{
    background-color: yellow;
}
*/

/* topics to be covered */
/* color */
/* measurement unit */
/* box modal */
/*---> margin, paddding,border */
/* document flow */
/* float */
/* display */
/* position */
    /* static */
    /* absolute */
    /* relative */
    /* fixed */
    /* sticky */
/* direction */


/* color */
/* html5 color code */
/* #hex value */
/* rgb  */
/* rgba (red,green,blue, opacity 0-1) */
/* hsl and hsla */

/*
.login{
    background-color: rgb(0,0,0);
    color: thistle;
}
.logout{
    background-color: #000000;
    color: #ffffff;
}

*/

.navbar{
    height: 50px ;
    background-color: brown;
    position: sticky;
    top: 1px ;
    left: 0px;
}
.navlist{
    list-style-type: none;
}
.navItem{
    color: white;
    text-decoration: none;
    float: left;
    padding: 10px;
    display: inline-block;
    width:150px;
}
.navItem:hover{
    color: blue;
    cursor:pointer;
}
.navItem:active{
    font-weight: bold;
}
.parent{
    height: 500px;
    width: 500px;
    background-color: green;
    position: relative;
    
}
.child{
    height: 50px;
    width: 50px;
    background-color: greenyellow;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;

}

/* measurement unit */
/* px,in,cm,mm,em,vh,% */

/* box modal */












